@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

@font-face {
  font-family: 'Futura Maxi Bold';
  src: url('../fonts/futura_maxi_cg_bold_regular-webfont.woff2'); /* IE9 Compat Modes */
  src: url('../fonts/futura_maxi_cg_bold_regular-webfont.woff2') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/futura_maxi_cg_bold_regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Futura Maxi Semibold';
  src: url('../fonts/FuturaMaxiCGDemi.woff2'); /* IE9 Compat Modes */
  src: url('../fonts/FuturaMaxiCGDemi.woff2') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/FuturaMaxiCGDemi.woff2') format('woff2');
}

@font-face {
  font-family: 'Futura Maxi Regular';
  src: url('../fonts/FuturaMaxiCGBook.woff2'); /* IE9 Compat Modes */
  src: url('../fonts/FuturaMaxiCGBook.woff2') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/FuturaMaxiCGBook.woff2') format('woff2');
}

/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
  background: #202020;
  color: #fafafa;
  
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 100% Arial, Helvetica, sans-serif;
  
}

canvas{
  display:block;
  vertical-align:bottom;
}

/* ---- particles.js container ---- */

.container {
  box-sizing: border-box;
  padding: 2rem;
  max-width: 100rem;
  margin: 0 auto;
  height: 100vh;
}

h1 {
  font-family: 'Futura Maxi Bold', sans-serif;
  font-size: calc(3.5rem + 0.081 * (100vw - 320px));
  animation: flow 5s ease-in-out infinite;
  /* background: linear-gradient(220deg, #212B2D, #3d5a68, #5586a6, #ffb701, #ff9302, #ffb701, #5586a6, #3d5a68, #212B2D); */
  background: linear-gradient(220deg, #a70707,#ff9302,  #a70707);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
}

h2 {
  font-family: 'Futura Maxi Semibold', sans-serif;
  font-size: calc(1rem + 0.01 * (100vw - 320px));
  font-weight: 500;
  text-transform: lowercase;
  line-height: 1.5;
  color: #c7c7c7;
  /* letter-spacing: .3rem; */
}

h3 {
  font-family: 'Futura Maxi Regular', sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
}

h4 {
  font-family: 'Didact Gothic', sans-serif;
  color: #7a7a7a;
}

p {
  font-family: 'Didact Gothic', sans-serif;
  letter-spacing: .5px;
  font-size: 1.2rem;
}
ul {
  display: flex;
  text-transform: uppercase;
}

img {
  width: 100%;
}

a {
  color: #FF8A00;
  transition: color .5s ease-in-out;
}

a:hover,
a:active {
  color: #fc4e03;
}

/*********** Header ************/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

header > nav {
  margin-top: 1rem;
}

.logo {
  width: 6.25rem;
}

.nav {
  font-family: 'Futura Maxi Semibold', sans-serif;
  letter-spacing: .1rem;
  text-transform: lowercase;
}

.nav li a {
  font-size: calc(.8rem + 0.006 * (100vw - 320px));
  color: #fafafa;
  transition: color .2s ease-in-out;
  padding: 0 .3rem;
}

.nav li span {
  font-size: calc(.8rem + 0.006 * (100vw - 320px));
}

.nav li a:hover,
.nav li a:active {
  cursor: pointer;
  color: #FF8A00;
}

.main-content {
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: calc(100% - 4.8rem);
  width: 100%;
}

.main-content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title {
  display: flex;
  flex-direction: column;
  margin-top: .5rem;
}

.main-content-right {
  margin-top: 3rem;
  align-self: flex-end;
  text-align: right;
}

.main-content-right a {
  position: relative;
  font-family: 'Futura Maxi Semibold', sans-serif;
  font-size: calc(1rem + 0.008 * (100vw - 320px));
  color: #FF8A00;
  transition: color .2s ease-in-out;
  /* border-left: 3px solid #fafafa; */
  padding-left: 2.4rem;
  text-transform: lowercase;
}

.main-content-right > div a::before {
    content: '';
    width: 25px;
    left: 0;
    top: 40%;
    position: absolute;
    border-top: 3px solid #fafafa;
}

.main-content-right a:hover {
  color: #fafafa;
}

.social {
  margin: 2rem -1rem 0 -1rem;
  justify-content: flex-end;
}

.social li {
  margin: 0 1rem;
}

.social a {
padding-left: 0;
}

.social svg {
  fill:#fafafa;
  width: calc(1.5rem + 0.005 * (100vw - 320px));
  transition: fill .2s ease-in-out;
}

.social svg:hover,
.social svg:active {
  cursor: pointer;
  fill: #FF8A00;
}

.orange {
  color: #FF8A00;
}

@keyframes flow {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.about-content {
  margin-top: 5rem;
  width: calc(15rem + 0.5 * (100vw - 320px));
  color: #e4e4e4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  text-align: center;
}

.about-content p {
  font-size: calc(1rem + 0.004 * (100vw - 320px));
  margin: 1.5rem 0;
  line-height: 1.5;
}

.about-content a {
  color: #FF8A00;
  transition: color .2s ease-in-out;
}

.about-content a:hover {
  color: #fc4e03;
}

.about-image {
  width: 16rem;
}

.about-image img {
  border-radius: 45%;
  border: 10px solid #393939;
}

.skills-list {
  font-family: 'Didact Gothic', sans-serif;
  color: #fafafa;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-size: calc(1rem + 0.004 * (100vw - 320px));
  text-transform: none;
  padding: 3rem 0;
}

.skills-list > li {
  position: relative;
  margin: 1rem 0;

}

.skills-list > li > p {
  padding-left: 3rem;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.skills-list > li > p::before {
  content: '';
  width: 2rem;
  left: 0;
  top: 10px;
  position: absolute;
  border-top: 3px solid #FF8A00;
}

.skills-list > li > ul {
  flex-wrap: wrap;
  padding-left: 3rem;
}

.skills-list > li > ul > li {
  text-transform: none;
  margin: 0 .2rem;
  padding: .2rem 0;
}

.skills-list > li > ul > li:after {
  content: " â— ";
  color: #343434;
}

.skills-list > li > ul > li:last-child:after {
  content: "";
}


/***** Work ****/
.work-content {
  margin-top: 5rem;
  padding-bottom: 2rem;
}

.work-content-title p {
  font-size: 1rem;
  color:#dddddd;
}

.work-content-thumbs {
  margin: 4rem 0;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
}

.work-content-thumbs a img {
  border: .2rem solid transparent;
  transition: border .5s ease-in-out;
}

.work-content-thumbs a:hover img {
  border: .2rem solid #FF8A00;
}

/***** Work Single ***/
.work-single-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

.role-tools {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}

.role-tools > div:first-of-type {
  margin-right: 2rem;
}

.work-single-desc {
  margin: 2rem 0;
}

.work-single-screens,
.screen-single-sm-section,
.screen-single-lg-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.screen-single-sm-section > div:not(:first-of-type) {
  margin-top: 3.3rem;
}

.screen-single-lg-section > div:not(:first-of-type) {
  margin-top: 3.3rem;
}

.screen-single-sm {
  max-width: 9rem;
}

.screen-single-md {
  max-width: 20rem;
}

.screen-single-lg {
  max-width: 24rem;
}

.work-single-responsive {
  font-family: 'Didact Gothic', sans-serif;
  max-width: 60rem;
  margin: 2rem 0 5rem 0;
  text-align: center;
}

.work-single-responsive .view-site-btn {
  font-family: 'Didact Gothic', sans-serif;
  background-color:#202020;
  border: 1px solid #FF8A00;
  color:#fafafa;
  padding: .2rem 1rem;
  transition: background-color .3s ease-in-out;
}

.work-single-responsive .view-site-btn:hover {
  background-color:#FF8A00;
  color:#fafafa;
}

.work-single-responsive img {
  max-width: 50rem;
}

.screen-single-sm,
.screen-single-md,
.screen-single-lg {
  margin: 1rem;
}

.screen-single-sm > p,
.screen-single-md > p,
.screen-single-lg > p {
  margin-bottom: 1rem;
  font-size: 1rem;
}



.mfp-content {width: 70%;}
.mfp-figure:after {
  background: transparent !important;
}

.screen-view a {
  display: flex;
  justify-content: center;
  color: #fafafa;
  transition: color .5s ease-in-out;
}

.screen-view:hover a,
.screen-view:active a {
  color: #FF8A00;
}

.screen-view:hover svg {
  fill: #FF8A00;
}

.screen-view p {
  font-size: 1rem;
}

.screen-view svg {
  width: 1.2rem;
  fill: #fafafa;
  margin-right: .5rem;
  transition: fill .5s ease-in-out;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-zoom-out-cur {
  cursor: pointer;
  }
  .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: pointer  !important;
  }

/***** Work Single ***/
.contact-content {
  margin: 7rem auto 0 auto;
  padding-bottom: 2rem;
  width: fit-content;
  width: -moz-fit-content;
}

.required {
  color: #FF8A00;
}

.contact-title p {
  font-size: 1rem;
}

.contact-social tr >td:first-child {
  width: 20px;
}

.contact-social td {
  padding: .4rem;
}

.contact-channel {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.contact-social {
  min-width: 15rem;
  margin-bottom: 2rem;
}

.form-container {
  font-family: 'Didact Gothic', sans-serif;
}

.form-container .input-row {
  margin-bottom: 1rem;
}

.form-container .input-row .info {
  font-style: italic;
  color:#FF8A00;
  font-size: .8rem;
  margin-bottom: 1rem;
}

.form-container .input-field {
  width: 25rem;
  padding: .2rem;
  margin-top: .4rem;
}

.form-container .btn-submit {
  font-family: 'Didact Gothic', sans-serif;
  background-color:#202020;
  border: 1px solid #FF8A00;
  color:#fafafa;
  padding: .2rem 1rem;
  transition: background-color .3s ease-in-out;
}

.form-container .btn-submit:hover {
  background-color:#FF8A00;
  color:#fafafa;
}

.successMessage {
  color: #FF8A00;
  margin-top: 1rem;
}

/******************* loader ********************/
.home-loader{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.preload-finish {
  pointer-events: none;
  opacity: 0;
}

.home-loader .loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 250px;
  height: 250px;
  margin-top: -120px;
  margin-left: -120px;
  border: 3px solid transparent;
  border-top-color: #f31000;
  border-radius: 50%;
  z-index: 1001;
  -webkit-animation: spin 1.5s infinite linear;
          animation: spin 1.5s infinite linear;
}

.home-loader .countdown {
  font-family: 'Futura Maxi Bold', sans-serif;
  font-size: calc(5rem + 0.062 * (100vw - 320px));
  color: #202020;
}
.home-loader .loader:before, .loader-wrapper .loader:after {
  content: '';
  position: absolute;
  border-radius: 50%;
}
.home-loader .loader:before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 3px solid transparent;
  border-top-color:#F44336;
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}
.home-loader .loader:after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px solid transparent;
  border-top-color: #F44336;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loader-section {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: -1000;
}
.loader-section.section-curtain {
  left: 0;
}

/*Finished Loading Styles*/
.loaded .section-curtain {
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transform: translateX(-100%);
  transform: translateY(-100%);
}

.loaded .home-loader {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}



@media (min-width: 476px) {
  .title {
    display: flex;
    flex-direction: row;
  }

  .title h2:last-child {
    padding-left: .5rem;
  }
}


@media (min-width: 300px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* tablet */
@media (min-width: 740px) {
  .main-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-content-right {
    align-self: center;
  }

  .social {
    margin-top: 4rem;
  }

  .work-content-thumbs {
    grid-template-columns: 1fr 1fr;
  }

  .work-single-desc {
    margin: 2rem 9rem;
  }

}


@media (min-width: 850px) {
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .skills-list > li {
    width: 48%;
  }

  .about-skills {
    padding: 0 3rem;
  }

  
}

@media (min-width: 975px) {

  .about-content {
    flex-direction: row;
    width: 100%;
    margin-top: 3rem;
  }

  .about-image {
    width: 23rem;
  }

  .about-desc {
    width: 40%;
  }

  .about-skills {
    padding: 0 5rem;
  }

  

}


/* 1600px */
@media (min-width: 1600px) {
  h1 {
    font-size: 10rem;
  }

  h2 {
    font-size: 2rem;
  }

  .home-loader .countdown {
    font-size: 10rem;
  }

  .skills-list,
  .about-content p {
    font-size: 1.25rem;
  }

  .skills-list > li {
    width: 25%;
  }

  .work-content-thumbs {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .work-single-desc {
    margin: 2rem 20rem;
  }

}